################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SiO Website/FileContentIndex
/.vs/SiO Website/config
/.vs/SiO Website/v17/.wsuo
/.vs
